body{
    background-color: #1F2937;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 18px;
    color: #E5E7EB;
}

.header-links{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    margin: 0;
    list-style-type: none;
}

.hero-container{
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    color: white;
    
    margin-top: 25px;
}

.hero{
    width: 550px;
    padding: 25px;
    
}

.hero-image{
    padding: 25px;
    width: 500px;
    height: 250px;
    
}

#hero-text{
    
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button{
    font-weight: roboto;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 12px 24px;
    
}